# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Env (لا ترفع المفاتيح أبداً)
.env
.env.local
.env*.local
.vercel

# Node (in case تستخدمه لاحقاً)
node_modules/

# Build
dist/
build/
